body {
  margin: 0;
  padding: 0;
  background-color: rgba(8, 28, 25, 1);
  font-display: swap;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.main-view-section .wrapper-alignment {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.sub-container {
  padding: 0 40px;
  margin: 0 0 40px 0;
}
.gettingstarted {
  background-color: #1f312f;
  padding: 32px;
  margin: 100px 0 0 0;
  border-radius: 20px;
}

h1 {
  font-size: 22px;
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  margin: 15px 0 10px 0;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 16px 0;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  margin: 0 0 16px 0;
}

ul {
  padding: 0 0 0 35px;
}
ul li {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: 700;
  padding: 0 0 8px 0;
}
ul li span {
  font-weight: 400;
}

.left-alignment h6 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 10px 0;
}

.left-alignment p {
  margin-bottom: 10px;
  font-weight: 700;
}

ul li {
  color: rgba(255, 255, 255, 0.6);
}

ul {
  margin: 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.text-success {
  color: #3c763d;
}

.alert-info {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
}


.underline-style {
  border-bottom: 1px solid #dff0d8; 
  padding-bottom: 1px; 
  display: inline-block; 
  margin-bottom: 15px;
}

.ri-honour-line {
  width: 100%; /* Adjust the width as needed */
  height: 2px; /* Adjust the height or thickness of the line */
  background-color: #000; /* Adjust the color of the line */
  margin: 10px 0; /* Adjust the margin as needed */
}

@media (max-width:768px) {
  .main-view-section .wrapper-alignment {
    grid-template-columns: 1fr;    display: block;
    gap: 0;
  }
  .sub-container {
    padding: 0 20px;
  }
  .gettingstarted {
    padding: 20px;
  }
}